/* 초기화코드 */
*{  margin: 0; padding: 0;  }
 img{ border : 0; }
 a {
 	font-family:'gothic';
    text-decoration: none;
    color: #222;  }
    
#wrapper {
	width:100%;
	height:100%;
	background:#eaeaea;
}

 
 header {
 	position:relative;
 	width:100%;
 	height:48px;
 	background: url('../img/header_bg.png');
 	text-align:center;
 	padding-top:10px;
 	box-sizing: border-box;
 }

header > button {
	
	position:absolute;
	left:6px;
	top:6px;
	width:32px;
	height:32px;
	background:url('../img/header_btn_menu.png');
	border: none;
	text-indent:-1000px;
}



*{ margin: 0; padding : 0; 
  }
  a{
     text-decoration:none;
     color:#222;
   }
  ul, ol { list-style: none;}
  img {border:0;}
   
  #wrapper {
     width:100%;
     height:100%;
     background:#eaeaea;
  }
  /*헤더 영역*/
  header {
     width:100%;
     height:48px;
     background : url('../img/header_bg.png');
     text-align:center;
     padding-top:10px;
     box-sizing : border-box;
     position : relative;
  }
  
  header > button {
     position : absolute;
     left:6px;
     top:6px;
     
     width:32px;
     height:32px;
     background:url('../img/header_btn_menu.png');
	         text-indent:-100px;
	         border : none;
	      }
  
      /*컨텐츠 영역*/
  #content > .slider > img {
     width:100%;
  }
  
  #content > .latest {
     width:96%;
     height:170px;
     margin:4px auto;
     border: 1px solid #e2e2e2;
     background:#fff;
  }
  
  #content > .latest > img:nth-child(1) {
     margin : 10px;
  }
 
 #content > .latest {
 	position: relative;
 }
  
  #content > .latest > a > img {
  	position:absolute;
  	right:10px;
  	top:10px;
  }
  
  #content > .latest > .table > img{
     margin-left : 10px;
     float : left;
  }
  #content > .latest > .table {
     font-size: 13px;
     font-family: 'nanumgothic'
  }
  
  #content > .latest > .table > table {
     float : left;
     margin-left : 5px;
     margin-top:-9px;
  }
  
 	.massage{
		padding-top:4px;
	}
	
	.point {
		padding-top:2px;
	}
	
		
		/*푸터 영역*/
      footer {
         width:96%;
         height:106px;
         margin:4px auto;
         margin-bottom : 0;
         border: 1px solid #e2e2e2;
         background:#fff;
      }
   
      footer > img {
         margin-top : 10px;
         margin-left: 10px;
         float : left;
      }
      
      footer > #copy {
         margin-top : 15px;
         margin-left:10px;
         float : left;
         font-size: 10px;
         font-family: 'nanumgothic'
		  }
		  
		  footer  span {
		     width:100%;
		     float : left;
		     font-size:10px;
		     text-align:left;
		     padding-top:2px;
		     display:inline-block;
		  }
		
		  /*하단 배너 영역*/
		      #banner > img {
		         width:100%;
		      }
 

		/* 사이드메뉴 */
	#sideMenu {
		position:absolute;
		width:240px;
		height:100%;
		left:-80%;
		top:48px;
		background:white;
		transition-duration: 0.3s;
		z-index: 1000;
	}
	
	
	#sideMenu.on {
		left:0%;
	}
	
	
	#sideMenu > ul {
		margin:14px;
	}
	
	#sideMenu > ul > li{
		margin-bottom:10px;
		width:248px;
		height:35px;
	}
	
#sideMenu > ul > li:nth-child(1) {
	background: url('../img/slider_menu_tit1.png')no-repeat; 
   }
   
   #sideMenu > ul > li:nth-child(2) {
		background: url('../img/slider_menu_tit2.png')no-repeat; 
   }
   
   #sideMenu > ul > li:nth-child(3) {
		background: url('../img/slider_menu_tit3.png')no-repeat; 
   }
   
   #sideMenu > ul > li:nth-child(4) {
		background: url('../img/slider_menu_tit4.png')no-repeat; 
   }
   
   #sideMenu > ul > li:nth-child(5) {
		background: url('../img/slider_menu_tit5.png')no-repeat; 
   }
   
   #sideMenu > ul > li:nth-child(6) {
		background: url('../img/slider_menu_tit6.png')no-repeat;
   }
   
   
   #sideMenu > ul > li:nth-child(1):active {
		width:248px;
		height:35px;
		background: url('../img/slider_menu_tit1_ov.png')no-repeat; 
   }
   
    #sideMenu > ul > li:nth-child(2):active {
		width:248px;
		height:35px;
		background: url('../img/slider_menu_tit2_ov.png')no-repeat; 
   }
   
    #sideMenu > ul > li:nth-child(3):active {
		width:248px;
		height:35px;
		background: url('../img/slider_menu_tit3_ov.png')no-repeat; 
   }
   
    #sideMenu > ul > li:nth-child(4):active {
		width:248px;
		height:35px;
		background: url('../img/slider_menu_tit4_ov.png')no-repeat; 
   }
   
    #sideMenu > ul > li:nth-child(5):active {
		width:248px;
		height:35px;
		background: url('../img/slider_menu_tit5_ov.png')no-repeat; 
   }
   
    #sideMenu > ul > li:nth-child(6):active {
		width:248px;
		height:35px;
		background: url('../img/slider_menu_tit6_ov.png')no-repeat; 
   }
   
   #sideMenu > ul > li > a{
   		display: block;
   		width:248px;
   		height:35px;
   }